*,
html {
  box-sizing: border-box;
}

:root {
  --font-primary: "Outfit", sans-serif;
  --font-secondary: "Young Serif", serif;
  --color-primary: rgb(123, 40, 79);
  --color-secondary: rgb(95, 87, 78);
  --color-background: rgb(244, 232, 220);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-secondary);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
}

.card {
  width: 600px;
  background-color: white;
  padding: 2%;
  margin: 5%;
  border-radius: 1rem;
}
.card img {
  width: 100%;
  border-radius: 10px;
}
h1 {
  font-family: Young Serif;
  font-weight: 400;
  color: black;
  font-size: 2.2rem;
}
p {
  font-family: var(--font-primary);
  color: var(--color-secondary);
}
h2 {
  font-family: Young Serif;
  font-weight: 400;
  color: var(--color-primary);
}
h3 {
  font-family: "Young Serif";
  font-weight: 500;
  margin: 0;
  color: var(--color-primary);
}
.preparation {
  padding: 0.5em;
  background-color: hsl(330, 100%, 98%);
  border-radius: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding-right: 1rem;
}

table td {
  padding: 0.5em 0 0.5em 0.5em;
  border-bottom: 1px solid var(--color-secondary);
}

.nutrition-table {
  color: var(--color-primary);
  font-weight: 500;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
  }
  .card img {
    width: 100%;
    border-radius: 0;
  }
  .recipe {
    padding: 1rem;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
